* {
    margin: 0;
    padding: 0;
}

header {
    color: aquamarine;
    font-size: larger;
}
table{
    border-collapse: collapse;
    margin-left: 50px;
    margin-right: 30px;
    /*border-radius:5px;*/
}
th,td{
    border: 1px solid green;
    border-collapse: collapse;
    padding: 8px;
}